[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/18o/hugo-ink.git
[submodule "themes/xiahou-theme"]
	path = themes/xiahou-theme
	url = https://github.com/18o/xiahou-theme.git
